web/WEB-INF/wsdl/SearchVideoWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://services.soap.isdcm.com/" name="SearchVideoWS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://services.soap.isdcm.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://services.soap.isdcm.com/" schemaLocation="SearchVideoWS_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="searchByTitle">
    <part name="parameters" element="tns:searchByTitle"/>
  </message>
  <message name="searchByTitleResponse">
    <part name="parameters" element="tns:searchByTitleResponse"/>
  </message>
  <message name="searchByAuthor">
    <part name="parameters" element="tns:searchByAuthor"/>
  </message>
  <message name="searchByAuthorResponse">
    <part name="parameters" element="tns:searchByAuthorResponse"/>
  </message>
  <message name="searchByCreationDate">
    <part name="parameters" element="tns:searchByCreationDate"/>
  </message>
  <message name="searchByCreationDateResponse">
    <part name="parameters" element="tns:searchByCreationDateResponse"/>
  </message>
  <portType name="SearchVideoWS">
    <operation name="searchByTitle">
      <input wsam:Action="http://services.soap.isdcm.com/SearchVideoWS/searchByTitleRequest" message="tns:searchByTitle"/>
      <output wsam:Action="http://services.soap.isdcm.com/SearchVideoWS/searchByTitleResponse" message="tns:searchByTitleResponse"/>
    </operation>
    <operation name="searchByAuthor">
      <input wsam:Action="http://services.soap.isdcm.com/SearchVideoWS/searchByAuthorRequest" message="tns:searchByAuthor"/>
      <output wsam:Action="http://services.soap.isdcm.com/SearchVideoWS/searchByAuthorResponse" message="tns:searchByAuthorResponse"/>
    </operation>
    <operation name="searchByCreationDate">
      <input wsam:Action="http://services.soap.isdcm.com/SearchVideoWS/searchByCreationDateRequest" message="tns:searchByCreationDate"/>
      <output wsam:Action="http://services.soap.isdcm.com/SearchVideoWS/searchByCreationDateResponse" message="tns:searchByCreationDateResponse"/>
    </operation>
  </portType>
  <binding name="SearchVideoWSPortBinding" type="tns:SearchVideoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="searchByTitle">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="searchByAuthor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="searchByCreationDate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SearchVideoWS">
    <port name="SearchVideoWSPort" binding="tns:SearchVideoWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

